@model IEnumerable<TOSS_UPGRADE.Models.FM_CollectionAndDeposit.AccountableFormAssignmentList>
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered zero-configuration w-100">
                <thead>
                    <tr>
                        <th>OR Description</th>
                        <th>Stub No.</th>
                        <th>Starting Account</th>
                        <th>Ending Account</th>
                        <th>Quantity</th>
                        <th width="5px;">Action</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @{
                        foreach (var Items in Model)
                        {
                            //var DeleteConfirmationMess = "Are you sure do you want to delete this Check Maintenance?";
                            //var DeleteSuccesMess = "Check Maintenance Deleted";

                            var ViewEdit = "<button class=\"btn btn-icon btn-block white bg-addbutton border-0\" type=\"button\"><i class='ft-edit'></i> Edit</button>";
                            var ViewDelete = "<button class=\"btn btn-icon white btn-block bg-headerbc  border-0\" type=\"button\" > <i class='ft-delete'></i> Delete</button>";
                            var ActionContentProgram = ViewEdit + ViewDelete;
                            <tr>
                                <td>@Items.FundType - ( @Items.AF )</td>
                                <td>@Items.StubNo</td>
                                <td>@Items.StratingOR</td>
                                <td>@Items.EndingOR</td>
                                <td>@Items.Quantity</td>
                                <td>
                                    <button type="button" onfocusout="PopoveLostFocus()" class="btn btn-m btn-warning popover-trigger" data-toggle="popover" data-content="@ActionContentProgram"
                                            data-original-title="" data-html="true" data-placement="right">
                                        <i class="la la-bars"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>