@model IEnumerable<TOSS_UPGRADE.Models.AccountableForm_Description>
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-striped table-bordered zero-configuration">
            <thead class="text-center">
                <tr>
                    <th>Description</th>
                    <th width="5px">Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @{
                    foreach (var Items in Model)
                    {
                        var DeleteConfirmationMess = "Are you sure do you want to delete this Description?";
                        var DeleteSuccesMess = "Description Deleted";

                        var ViewEdit = "<button class=\"btn btn-icon btn-block black bg-addbutton border-0\" type=\"button\" onclick=\"AngularGlobalEdit('FMCollectionDepositController','Get_UpdateDescription','" + @Items.DescriptionID + "')\"><i class='la la-edit mr-1'></i><b>Edit</b></button>";
                        var ViewDelete = "<button class=\"btn btn-icon white btn-block bg-headerbc  border-0\" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '" + @Items.Description + "','" + @DeleteSuccesMess + "','AngularGlobalDelete(" + @Items.DescriptionID + ",&quot;Get_DeleteDescription&quot;,&quot;FMCollectionDepositController&quot;)')\"> <i class='ft-delete mr-1'></i><b>Delete<b></button>";
                        var ActionContentProgram = ViewEdit + ViewDelete;
                        <tr>
                            <td>@Items.Description</td>
                            <td>
                                <button type="button" onfocusout="PopoveLostFocus()" class="btn btn-m btn-warning popover-trigger" data-toggle="popover" data-content="@ActionContentProgram"
                                        data-original-title="" data-html="true" data-placement="right">
                                    <i class="la la-bars"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<script>

    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>


