@model IEnumerable<TOSS_UPGRADE.Models.FM_CollectionAndDeposit.AFTransferReturnORList>
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<div class="card-content collapse show">
    <div class="card-body box-shadow-2">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped zero-configuration table-bordered text-center dataTable scroll-horizontal table-smss-hover no-footer m-0 w-100">
                        <thead>
                            <tr>
                                <th>Main Collector</th>
                                <th>Sub Collector</th>
                                <th width="5%">Stub No.</th>
                                <th width="5%">Quantity</th>
                                <th width="5%">Starting OR</th>
                                <th width="5%">Ending OR</th>
                                <th width="5%">Is Transferred?</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var Items in Model)
                                {
                                    //var ViewEdit = "<button class=\"btn btn-icon btn-block black bg-addbutton border-0\" type=\"button\"><i class='ft-edit mr-1'></i><b>Edit</b></button>";
                                    //var ViewDelete = "<button class=\"btn btn-icon white btn-block bg-headerbc  border-0\" type=\"button\"> <i class='ft-delete mr-1'></i><b>Delete</b></button>";
                                    //var ActionContentProgram = ViewEdit + ViewDelete;
                            <tr>
                                <td>@Items.CollectorName</td>
                                <td>@Items.SubCollector</td>
                                <td>@Items.StubNo</td>
                                <td>@Items.Quantity</td>
                                <td>@Items.StratingOR</td>
                                <td>@Items.EndingOR</td>
                                <td>
                                    @{
                                        var IsTransferred = "";
                                        if (Items.IsTransferred == true)
                                        {
                                            IsTransferred = "Yes";
                                        }
                                        else if (Items.IsTransferred == false)
                                        {
                                            IsTransferred = "No";
                                        }

                                    }
                                    @IsTransferred
                                </td>
                                @*<td>
                                    <button class="buttonEf iconhoverEdit"><i class="ft-edit"></i></button>
                                    <button class="buttonEf iconhoverDelete" ><i class="ft-delete"></i></button>
                                </td>*@
                                <td>
                                    <button class="btn btn-sm btn-icon btn-block black bg-addbutton border-0 font-medium-1" type="button" onclick="AngularGlobalEdit('FMCollectionDepositController','Get_UpdateTransferReturnOR','@Items.AssignAFID')"><i class="la la-caret-left"></i>Return</button>
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>