@model IEnumerable<TOSS_UPGRADE.Models.FM_CollectionAndDeposit.AccountableFormInvtList>
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<div class="row">
    <div class="col-md-12">
            <table class="table table-striped zero-configuration table-bordered text-center dataTable table-smss-hover no-footer">
                <thead>
                    <tr>
                        <th>Accountable Forms</th>
                        <th>Stub No.</th>
                        <th>Starting OR</th>
                        <th width="5%">Ending OR</th>
                        <th>Quantity</th>
                        <th>Date Issued</th>
                        <th>Is Issued</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var Items in Model)
                        {
                            var DeleteConfirmationMess = "Are you sure do you want to delete this Accountable Form?";
                            var DeleteSuccesMess = "Accountable Form Deleted";

                            var ViewEdit = "<button class=\"btn btn-icon btn-block black bg-addbutton border-0\" type=\"button\"onclick=\"AngularGlobalEdit('FMCollectionDepositController','Get_UpdateAccountableFormInventory','" + @Items.AFORID + "')\"><i class='ft-edit mr-1'></i><b>Edit</b></button>";
                            var ViewDelete = "<button class=\"btn btn-icon white btn-block bg-headerbc  border-0\" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '" + @Items.AF + "','" + @DeleteSuccesMess + "','AngularGlobalDelete(" + @Items.AFORID + ",&quot;Get_DeleteAccountableFormInventory&quot;,&quot;FMCollectionDepositController&quot;)')\"> <i class='ft-delete mr-1'></i><b>Delete</b></button>";
                            var ActionContentProgram = ViewEdit + ViewDelete;
                    <tr>
                        <td>@Items.AF</td>
                        <td>@Items.StubNo</td>
                        <td>@Items.StratingOR</td>
                        <td>@Items.EndingOR</td>
                        <td>@Items.Quantity</td>
                        <td>
                            @{
                                DateTime DateofHearing = Convert.ToDateTime(@Items.Date);
                            }

                            @DateofHearing.ToString("MMMM dd, yyyy")
                        </td>
                        <td>
                            @{
                                var isIssued = "";
                                if (Items.isIssued == true)
                                {
                                    isIssued = "Yes";
                                }
                                else if (Items.isIssued == false)
                                {
                                    isIssued = "No";
                                }

                            }
                            @isIssued
                        </td>
                        <td>
                            <button type="button" onfocusout="PopoveLostFocus()" class="btn btn-sm btn-warning popover-trigger" data-toggle="popover" data-content="@ActionContentProgram"
                                    data-original-title="" data-html="true" data-placement="right">
                                <i class="la la-bars"></i>
                            </button>
                        </td>

                        @*<td>
                            <button class="buttonEf iconhoverEdit" onclick="AngularGlobalEdit('FMCollectionDepositController','Get_UpdateAccountableFormInventory','@Items.AFORID')"><i class="ft-edit"></i></button>
                            <button class="buttonEf iconhoverDelete" onclick="swalConfirmation('@DeleteConfirmationMess','','@DeleteSuccesMess', 'AngularGlobalDelete(@Items.AFORID ,&quot;Get_DeleteAccountableFormInventory&quot;,&quot;FMCollectionDepositController&quot;)')"><i class="ft-delete"></i></button>
                        </td>*@
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
</div>
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>
