@model IEnumerable<TOSS_UPGRADE.Models.FM_AccountableForm.AccountableFormList>
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<div class="table-responsive">
    <table class="table table-striped table-bordered zero-configuration text-center dataTable scroll-horizontal table-smss-hover no-footer m-0 w-100">
        <thead>
            <tr>
                <th>Accountable Form</th>
                <th>Description</th>
                <th>For CTC</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var Items in Model)
                {
                    var DeleteConfirmationMess = "Are you sure do you want to delete this Accountable Form?";
                    var DeleteSuccesMess = "Accountable Form Deleted";

                    var ViewEdit = "<button class=\"btn btn-icon btn-block black bg-addbutton border-0\" type=\"button\"onclick=\"AngularGlobalEdit('FMAccountableFormController','Get_UpdateAccountableForm','" + @Items.AccountFormID + "')\"><i class='ft-edit mr-1'></i><b>Edit</b></button>";
                    var ViewDelete = "<button class=\"btn btn-icon white btn-block bg-headerbc  border-0\" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '" + @Items.AccountFormName + "','" + @DeleteSuccesMess + "','AngularGlobalDelete(" + @Items.AccountFormID + ",&quot;Get_DeleteAccountableForm&quot;,&quot;FMAccountableFormController&quot;)')\"> <i class='ft-delete mr-1'></i><b>Delete</b></button>";
                    var ActionContentProgram = ViewEdit + ViewDelete;
                    <tr>
                        <td>@Items.AccountFormName</td>
                        <td>@Items.Description</td>
                        <td>
                            @{
                                var isCTCValue = "";
                                if (Items.isCTC == true)
                                {
                                    isCTCValue = "Yes";
                                }
                                else if (Items.isCTC == false)
                                {
                                    isCTCValue = "No";
                                }

                            }
                            @isCTCValue
                        </td>
                        @*<td>
                                <button class="buttonEf iconhoverEdit" onclick="AngularGlobalEdit('FMCollectionDepositController','Get_UpdateAccountableForm','@Items.AccountFormID')"><i class="ft-edit"></i></button>
                                <button class="buttonEf iconhoverDelete" onclick="swalConfirmation('@DeleteConfirmationMess','','@DeleteSuccesMess', 'AngularGlobalDelete(@Items.AccountFormID ,&quot;Get_DeleteAccountableForm&quot;,&quot;FMCollectionDepositController&quot;)')"><i class="ft-delete"></i></button>
                            </td>*@
                        <td>
                            <button type="button" onfocusout="PopoveLostFocus()" class="btn btn-sm btn-warning popover-trigger" data-toggle="popover" data-content="@ActionContentProgram"
                                    data-original-title="" data-html="true" data-placement="right">
                                <i class="la la-bars"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>


