@model IEnumerable<TOSS_UPGRADE.Models.BankAccountList>
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

<div class="col-12 col-xl-12 ">
    <div class="card box-shadow-2">
        <div class="card-header bg-carheadercolor">
            <h4 class="card-title black"><b>Bank Account Details</b></h4>
        </div>
        <div class="card-content collapse show">
            <div class="card-body box-shadow-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration w-100">
                                <thead class="text-center">
                                    <tr>
                                        <th>Account No</th>
                                        <th>Bank Name</th>
                                        <th>Fund</th>
                                        <th>Account Code/Title</th>
                                        <th>Current Account</th>
                                        <th width="5px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    @{
                                        foreach (var Items in Model)
                                        {
                                            var DeleteConfirmationMess = "Are you sure do you want to delete this Bank Account?";
                                            var DeleteSuccesMess = "Bank Account Deleted";

                                            var ViewEdit = "<button class=\"btn btn-icon btn-block white bg-addbutton border-0\" type=\"button\" onclick=\"AngularGlobalEdit('FMGeneralReferenceController','Get_UpdateBankAccount','" + @Items.BankAccountID + "')\"><i class='ft-edit'></i> Edit</button>";
                                            var ViewDelete = "<button class=\"btn btn-icon white btn-block bg-headerbc  border-0\" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '" + @Items.AccountType + "','" + @DeleteSuccesMess + "','AngularGlobalDelete(" + @Items.BankAccountID + ",&quot;Get_DeleteAccountType&quot;,&quot;FMGeneralReferenceController&quot;)')\"> <i class='ft-delete'></i> Delete</button>";
                                            var ActionContentProgram = ViewEdit + ViewDelete;
                                    <tr>
                                        <td>@Items.AccountNo</td>
                                        <td>@Items.BankName</td>
                                        <td>@Items.FundName</td>
                                        <td>@Items.AccountCode</td>
                                        <td>@Items.CurrentAccount</td>
                                        <td>
                                            <button type="button" onfocusout="PopoveLostFocus()" class="btn btn-m btn-warning popover-trigger" data-toggle="popover" data-content="@ActionContentProgram"
                                                    data-original-title="" data-html="true" data-placement="right">
                                                <i class="la la-bars"></i>
                                            </button>
                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>
