@model TOSS_UPGRADE.Models.FM_CollectionAndDeposit.FM_CollectionAndDeposit_InventoryAF
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

@using (Ajax.BeginForm("UpdateAccountableFormInventoryCTC", "FileMaintenanceCollectionDeposit", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMCollectionDepositController','Get_InvtAccountableFormTableCTC','Accountable Form Inventory Successfully Update')", OnFailure = "OnFailure()", }))
{
    <div class="row">
        @Html.HiddenFor(m => m.getAccountableFormInvtcolumns.AFORID, new { })
        @Html.HiddenFor(m => m.AFTempID, new { id = "AFIDTempIDCTC" })
        <div class="col-md-4 form-group" id="_CTCAFID">
        </div>
        <div class="col-md-4 form-group">
            <label>Starting Stub No.</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.StubNo, new { @class = "form-control", type = "text" })
        </div>
        <div class="col-md-4 form-group">
            <label>Quantity</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.Quantity, new { @class = "form-control", type = "text", id = "txtCTCInvQty" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>Starting OR</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.StartingOR, new { @class = "form-control", type = "text", id = "txtStrtCTCNo" })
        </div>
        <div class="col-md-4 form-group">
            <label>Ending OR</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.EndingOR, new { @class = "form-control", type = "text", id = "txtEndCTCNo" })
        </div>
        <div class="col-md-4 form-group">
            <label>OR Date</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.Date, new { @class = "form-control pickadate", type = "text" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2"><button type="submit" class="btn black form-control bg-addbutton"><b>Update</b></button></div>

        <div class="col-md-2">
            <button type="reset" class="btn bg-headerbc ui-widget-header white form-control" onclick="AngularGlobalEdit('FMCollectionDepositController','Get_AddInvtAccountableFormCTC','')"><b>Cancel</b></button>
        </div>
    </div>
}
<script>
        $(function () {
            LoadDataTable();
            LoadPopOver();
            LoadPickDatetime();
    })

    $("#txtStrtCTCNo").change(function () {
        var startNo = $("#txtStrtCTCNo").val();
        var countStartNo = startNo.toString().length;
        var startNoQty = parseFloat($("#txtStrtCTCNo").val()) + parseFloat($("#txtCTCInvQty").val() - parseFloat(1));
        var countEndNo = startNoQty.toString().length;
        var number = "";

        for (i = 0; i < countStartNo; i++) {
            number += "0";
        }

        var countZero = number.toString().length;
        var res = number.toString().substring(0, countZero - countEndNo) + startNoQty;

        if ($("#txtStrtCTCNo").val() == "") {
            $("#txtEndCTCNo").val("");
        } else {
            $("#txtEndCTCNo").val(res);
        }
    });
</script>

